<div class="wrapper-form">
    <!-- <h1>REGISTRATION FORM</h1> -->
    <form #newform="ngForm" novalidate class="form-wrapper">
        <div class="form-group" >
            <label>Name:</label>
            <input #name="ngModel" [class.invalid]="name.invalid && name.dirty" [class.valid]="name.valid" name="name" ngModel required pattern="[A-Za-zА-Яа-яЁё]{2,}">
            <p class="message"   [class.error]="name.invalid && name.dirty" [class.success]="name.valid" >Enter name</p>
        </div>
        <div class="form-group" >
            <label>Email:</label>
            <input  #email="ngModel" [class.invalid]="email.invalid && email.dirty" [class.valid]=email.valid type="email" name="email" ngModel required email>
            <p class="message"   [class.error]="email.invalid && email.dirty" [class.success]="email.valid" >Enter email</p>

        </div>
        <div class="form-group">
            <label>Phone number: </label>
            <div class="phone-wrapper" [class.invalid]="phone.invalid && phone.dirty" [class.valid]=phone.valid >
                <select>
                    <option>+380</option>
                    <option>+995</option>
                    <option>+972</option>
                </select>
                <input #phone="ngModel"  name="phone" ngModel required pattern="[0-9]{9}" maxlength="12">

            </div>
            <p class="message"   [class.error]="phone.invalid && phone.dirty" [class.success]="phone.valid" >Enter number</p>

        </div>
    
        <div class="form-group">
            <button class="button-reg" [disabled]="newform.touched && newform.invalid" (click)="submit(newform)">
                REGISTER    
            </button>

        </div>

    </form>

</div>