/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}
 body{
    height: 100vh;
    background-image: linear-gradient(purple,#5252d7 );
    background-repeat: no-repeat;
    background-size: cover;
 }